@mixin flex-center-space-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin font($size: 14px, $heght: 17px, $weight: 300, $style: normal) {
  font-size: $size;
  font-weight: $weight;
  line-height: $heght;
  font-style: $style;
}

@mixin tablet {
  @media (max-width: $max-tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $max-mobile-width) {
    @content;
  }
}

@mixin text-14-700-17() {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
@mixin text-14-400-17() {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

@mixin text-20-400-24() {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

@mixin text-48-900-58() {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}

@mixin text-37-400-44() {
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

@mixin text-24-300-29() {
  font-weight: 300;
  line-height: 29px;
  margin-top: 22px;
}
