$black-color: #222222;
$pink-color: #f1e4e6;
$dark-pink: #f16d7f;
$light-pink: #f8f3f4;
$brown-color: #474040;
$white-color: #ffffff;
$grey-color: #f8f8f8;
$dark-grey: #5d5d5d;
$light-grey: #9f9f9f;
$black-gray: #222224;
$gray-black: #e1e1e1;
$shadow-gray: #b1b1b1;
$text-gray: #6f6e6e;
$black: #000000;
$text-gray: #575757;

$max-tablet-width: 1599px;
$max-mobile-width: 767px;
