.advantages {
  background-color: $black-color;

  &__list {
    min-height: 341px;
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      width: 360px;
      margin-top: 48px;
    }
  }

  &__item--last-item {
    @include tablet {
      margin-bottom: 48px;
    }
  }

  &__image {
    align-self: center;
  }

  &__text {
    text-align: center;
    margin: 28px 0 16px 0;
    font-family: Lato;
    @include text-20-400-24;
    color: $white-color;
  }

  &__subtext {
    text-align: center;
    margin: 0 20px;
    @include text-14-400-17;
    color: $white-color;
  }
}
