<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <index-page
        v-if="currentPage == 'index'"
        v-on:go-to="goToHandler"
        v-on:add-to-cart="addToCartHandler"
        v-bind:list="list"
        v-bind:count="cart.length"
      ></index-page>
      <cart-page
        v-if="currentPage == 'cart'"
        v-on:go-to="goToHandler"
        v-bind:cart="cart"
        v-bind:cost="cost"
        v-bind:count="cart.length"
        v-on:clear-shoping-cart="clearShopingCart"
      ></cart-page>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
