.product-main {
  background-color: $light-pink;

  &__nav {
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include font(24px, 29px, 400);
    color: $dark-pink;
    text-transform: uppercase;
  }

  &__breadcrumb {
    @include font(14px, 16px, 300);
    text-transform: uppercase;

    span {
      color: $dark-pink;
      font-weight: 700;
    }
  }
}

.text-center {
  text-align: center;
}

.text-up {
  text-transform: uppercase;
}

.dark-pink {
  color: $dark-pink;
}

.w1141-h601 {
  max-width: 1141px;
}

.ai-center {
  align-self: center;
}

.mt32 {
  margin-top: 32px;
}

.mt64 {
  margin-top: 64px;
}

.mt-65 {
  margin-top: -65px;
}

.border-1-gray {
  border: 1px solid $light-grey;
}

.mlr293 {
  margin: 0 30%;
}

.w211 {
  width: 211px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-724 {
  height: 724px;
}

.width-597 {
  width: 597px;
}

.bcg-gray {
  background-color: #f7f7f7;
}

.p-absolute {
  position: absolute;
}
.p-relative {
  position: relative;
  z-index: 10;
}
