.registration {
  display: flex;
  justify-content: space-between;
  min-height: 675px;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 64px;

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__wrap-padding {
    padding-bottom: 33px;
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    color: $black-color;
    margin-bottom: 20px;
  }

  &__place {
    width: 360px;
    height: 45px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: $shadow-gray;
    padding-left: 15px;
  }

  &__place::placeholder {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    padding-left: 17px;
    color: $shadow-gray;
  }

  &__female {
    margin-left: 20px;
  }

  &__radio-label {
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    color: var();
  }

  &__subtext {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    color: $shadow-gray;
    width: 359px;
  }

  &__button {
    width: 167px;
    height: 50px;
    margin-top: 39px;
    background-color: $dark-pink;
    border: none;
    color: $white-color;
    @include text-14-400-17;
    text-transform: uppercase;
  }
}

.loyalty {
  padding-top: 64px;
  padding-left: 130px;

  &__text {
    @include text-24-300-29;
  }

  &__subtext {
    font-size: 24px;
    @include text-24-300-29;
  }

  &__list {
    margin-top: 21px;
    padding-left: 40px;
  }

  &__item {
    margin-bottom: 16px;
    @include text-24-300-29;
    position: relative;
  }

  &__item::before {
    content: '';
    width: 20px;
    height: 16px;
    position: absolute;
    left: -43px;
    top: 5px;
    background-image: url(../img/check.svg);
    background-size: 20px 16px;
  }
}
