.stocks {
  margin-top: 63px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mobile {
      justify-content: center;
    }
  }

  &__item {
    width: 31%;
    min-height: 260px;
    background-size: cover;
    background-color: $brown-color;
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    @include tablet {
      min-height: 167px;
    }

    @include mobile {
      width: 92%;
      min-height: 248px;
    }
  }

  &__item--woman {
    background-image: url(../img/woman.jpg);
  }

  &__item--man {
    background-image: url(../img/man.jpg);
  }

  &__item--kids {
    background-image: url(../img/kids.jpg);
  }

  &__item--accesories {
    width: 100%;
    background-image: url(../img/accesories.jpg);

    @include tablet {
      min-height: 116px;
    }
    @include mobile {
      width: 92%;
      min-height: 111px;
    }
  }

  &__title {
    flex-direction: column;
  }

  &__text {
    color: $white-color;
    @include font(16px, 19px, 400);
    text-align: center;
  }

  &__subtext {
    @include font(24px, 28px, 700);
    color: $dark-pink;
  }
}
